body {
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* prevents long touch */
  background: repeating-linear-gradient(
    45deg,
    #f5f5f5,
    #f5f5f5 4px,
    #ffffff 4px,
    #ffffff 8px
  );
}

.App {
  text-align: center;
  touch-action: none;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.top-bar {
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #c7c7c7;
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.top-bar > * {
  margin: 0.5em;
}

.timer {
  font-family: monospace;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #09d3ac;
}

.slide {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.slide h2 {
  font-size: 3em;
  margin: 0.25em;
}

.share-btns {
  display: flex;
  margin: 0.5em;
}

.subtitle {
  margin: 0;
}

.share-btns .puzzle-btn {
  margin: 0.75em;
}

.puzzle-btn {
  border: 1px solid #c7c7c7;
  padding: 0.5em 0.57143em;
  cursor: pointer;
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  border-radius: 2px;
}

.puzzle-btn svg {
  margin-right: 0.35em;
}

.puzzle-piece-group .puzzle-piece-path {
  stroke: black;
  stroke-width: 1;
  stroke-linecap: square;
  stroke-miterlimit: 4;
}

.puzzle-piece-group.dragging .puzzle-piece-path {
  fill-opacity: 0.8;
}

.puzzle-piece-group.hovering .puzzle-piece-path {
  fill: yellow;
}

.puzzle-piece-group.dragging .puzzle-piece-path {
  fill: yellow;
}

.puzzle-guide-path {
  stroke: #cfcfcf;
  stroke-width: 0.5;
  fill: #cfcfcf;
}

.btn-start {
  font-size: 1.5em;
  background-color: rgb(35, 0, 27);
  color: white;
}
